header{
    background-color: white;
}



body{
    background-color: #f8f9fa!important;
}



#footerprincipal{
    background: #152F4F;
    color:white;        
}
#cajas{
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {    
    text-align: center;
}

h3{    
    height: 80%;
}
h4{
    text-align: center;
}





#apiwsp{
    
    text-align: center;

}

